@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacquard+12&family=Roboto+Slab:wght@100..900&family=Yellowtail&display=swap');
@import url("https://db.onlinewebfonts.com/c/16bbb616a706b4712d97a5b633802ead?family=Shapiro+75+Heavy+Text");
html{
    scroll-behavior: smooth;
}


body{
    background: linear-gradient(to bottom, rgb(0, 0, 0), #3d0000);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
}

header a{
    font-size:50px;
    font-weight:300;
    text-decoration: none;
    color: white;
    transition: color 0.2s linear;
}

.img-header{
    position: absolute;
    left: 1392px;
    top: 0px;
}

.img-header2{
    position: absolute;
    left: 1392px;
    top: 65px;
}

header a:first-child{
    color: #B50000;
}

header a:hover{
    color: #B50000;
    transition: color 0.2s linear;
}

#main{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;

    
}

.main-text{
    width: 60%;
}

.main-text h1{
    color: #828282;
    font-size: 160px;
    margin-bottom: -35px;
}

.main-text h2{
    color: #6E0E0E;
    font-size: 140px;
    margin: 0;
}

.main-text p{
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    width: 65%;
}

.img-main{
    width: 40%;
    margin-left: -150px;
}

.buttoms{
    margin-top: 35px;
    display: flex;
    gap: 15px;
}

.btn1{
    border: 3px solid red;
    background: none;
    color: #FFFFFFA6;
    font-size: 50px;
    font-style: light;
    padding: 0 0.7em;
    transition: ease-out 0.4s box-shadow;
}

.btn1:hover{
    box-shadow: inset 400px 0 0 0 rgb(238, 33, 146);
    
}

.btn2{
    border: 3px solid red;
    background: red;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 200;
    padding: 0 0.7em;
}

.btn2:hover{
    transform: scale(10);
    transition: transform 0.2s linear;
}

#trailer{
    width: 80vw;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 100px;
    align-items: center;
    height: 100vh;

}

#trailer video{
    width: 45%;
}

#trailer p{
    color: #FFFFFF;
    font-size: 30px;
}

#trailer h1{
    font-size: 100px;
    color: white;
}

#heroes{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 25%) ;
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
}

.heroes-name{
    position: relative;
    display: inline-block;
}

.hero-name{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 83.55%;
    background-color: #af063f;
    color: #FFFFFF;
    padding: 16px;
    font-size: 18px;
    font-family: "Shapiro-75HeavyExtd", sans-serif;
    font-weight: 700;
}

.heroes-title{
    font-size: 50px;
    margin-left: 9.5%;
    color: #FFFFFF;
}

footer{
    background-color: #000000;
    margin-top: 100px;
}

footer img{
    width: 100px;
}

.content{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.content .logo{
    color: wheat;
    display: flex;
    align-items: center;
}

.support-button{
    color: wheat;
}

@media (orientation: portrait) and (max-width: 450px){

}

@media (max-width: 1775px){
    #heroes{
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 25%) ;
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
}
}

@media (max-width: 1000px){
    #trailer{
        flex-direction: column;
    
    }
    #trailer video{
        width: 90%;
        margin-top: 150px;
    }

}